# Inputs

## QST 1
Using input function, create a list base on the input provided by user and get inputs for the list too

In [16]:
n = int(input("enter list length: "))
arr = []
for i in range(n):
    val=int(input("enter input for index " + str(i) + " : "))
    arr.append(val)

print(arr)

[1, 2, 3]

using while loop

In [27]:
n = int(input("enter list length: "))
arr = []
while n>0:
    val = int(input("enter input for index " + str(n) + " : "))
    arr.append(val)
    n=n-1
print(arr)

[1, 2]

using list comprehension

In [23]:
n,arr = int(input("enter list length: ")),[]
[arr.append(int(input("enter input for index " + str(i) + " : "))) for i in range(n)]
print(arr)

[3, 4]

**Efficient way**:
Often in competitive programming or data processing, it's more efficient to ask the user for all numbers at once (separated by spaces) rather than hitting the input() syscall n times.

In [ ]:
# Input: 10 20 30 40
arr = list(map(int, input("Enter all numbers separated by space: ").split()))

---

# While

## QST 2
Sum of 10 number

In [28]:
n = 10
sum = 0
while n >0:
    sum+=n
    n=n-1
print("sum: ",sum)

sum:  55

Usage of while

In [29]:
num = int(input("Enter the num, (0 to stop)"))
while num != 0:
    print("Entered number is: ", num)
    num=int(input("Enter the num, (0 to stop)"))

Entered number is:  4
Entered number is:  3
Entered number is:  5
Entered number is:  1
Entered number is:  5

Usage of while with break

In [30]:
num = int(input("Enter the num, (0 to stop)"))
while True:
    print("Entered number is: ", num)
    num=int(input("Enter the num, (0 to stop)"))
    if num==0:
        break

Entered number is:  8
Entered number is:  9

---

# Tuple

In [46]:
t1 = (1, 2, "asdf", [55, 66, 77], [33, 44])
len(t1)
t1[3][0] # 55 
# BUT
t1[3][0] = 56
t1 # (1, 2, 3, [56, 66, 77], [33, 44]), NOTE the change in value, coz list can be updated
t1[3].append(77)

# t1[2] = "a" # NOTE not allowed

(1, 2, 'asdf', [56, 66, 77, 77], [33, 44])

In [48]:
t = (1, 2, 3)
t = t*2
t

(1, 2, 3, 1, 2, 3)

---

# Set

In [50]:
mySet = set((1,2,1, True,0, False))
mySet #

{0, 1, 2}

In [52]:
s = "madam"
set(s)

{'a', 'd', 'm'}

In [57]:
d = {1:"abc", 2: "efg"}
type(d)
d.keys()

dict_keys([1, 2])

In [60]:
s = "abc"*2
set(s)

{'a', 'b', 'c'}

In [64]:
s = set(['abc', 'abc'])
s

{'abc'}

In [66]:
s = set([1,2,3,4,1,2])
s1 = {2,4}
s-s1

{1, 3}

In [67]:
s&s1

{2, 4}

## QST 4

```py
s1 = set(range(5)); print(s1)
s2 = set(range(0,10,2)); print(s2)
s3 = s1 - s2; print(s3)
s4 = s2 - s1; print(s4)
s5 = s3 & s4; print(s5)
s6 = s3 | s4; print(s6)
```

In [73]:
s1 = set(range(5)); print(s1)
s2 = set(range(0,10,2)); print(s2)
s3 = s1 - s2; print(s3)
s4 = s2 - s1; print(s4)
s5 = s3 & s4; print(s5)
s6 = s3 | s4; print(s6)

{0, 1, 2, 3, 4}
{0, 2, 4, 6, 8}
{1, 3}
{8, 6}
set()
{8, 1, 3, 6}

In [ ]:
s = set([1,2,3,4,1,2])
s1 = {2,4}

print(s.issuperset(s1)) # True
s1.issuperset(s) # False

True

False

---

# List comprehension

In [94]:
%%time

# unoptimized function
square = []
for i in range(10):
    if i%2==0:
        square.append(i*i)
print(square)

[0, 4, 16, 36, 64]
CPU times: user 394 μs, sys: 224 μs, total: 618 μs
Wall time: 470 μs

In [95]:
%%time

square = [i*i for i in range(10) if i%2==0 ]
print(square)

[0, 4, 16, 36, 64]
CPU times: user 236 μs, sys: 82 μs, total: 318 μs
Wall time: 288 μs

# QST 5

```py
name = ["Rama", "sita", "lakshmana", "john"]
```

Get me those name that has only 'a' in it

In [ ]:
names = ["Rama", "sita", "lakshmana", "john"]
word = [i for i in names if "a" in i]
print(word)

['Rama', 'sita', 'lakshmana']

In [ ]:
# 5.b > print the last character using list comprehension

lastChar = [ i[-1] for i in names ]
print(lastChar)

['a', 'a', 'a', 'n']

In [ ]:
# 5.c > print name that have more than 4 characters using list comprehension

lenGreaterThanFour = [i for i in names if len(i)>4]
print(lenGreaterThanFour)

['lakshmana']

In [ ]:
# 5.d > print word and its length using list comprehension

wordCount = [{i,len(i)} for i in names]
print(wordCount)

[{4, 'Rama'}, {'sita', 4}, {9, 'lakshmana'}, {'john', 4}]

In [ ]:
# 5.e > convert each word to upper case using list comprehension

upper = [str.upper(i) for i in names]
print(upper)

['RAMA', 'SITA', 'LAKSHMANA', 'JOHN']

In [ ]:
# 5.f > cover name only if it has length > 4 using list comprehension

upperGrtThan4 = [str.upper(i) for i in names if len(i)>4]
print(upperGrtThan4)

['LAKSHMANA']

In [ ]:
# 5.g > give common elements in both list using list comprehension

l = [1,2,3,4]
l1=[3,4,5,6]

common = [i for i in l1 if i in l]
print(common)

[3, 4]