# Inputs

## QST 1
Using input function, create a list base on the input provided by user and get inputs for the list too

In [1]:
n = int(input("enter list length: "))
arr = []
for i in range(n):
    val=int(input("enter input for index " + str(i) + " : "))
    arr.append(val)

print(arr)

[3, 3, 3]

using while loop

In [ ]:
n = int(input("enter list length: "))
arr = []
while n>0:
    val = int(input("enter input for index " + str(n) + " : "))
    arr.append(val)
    n=n-1
print(arr)

using list comprehension

In [ ]:
n,arr = int(input("enter list length: ")),[]
[arr.append(int(input("enter input for index " + str(i) + " : "))) for i in range(n)]
print(arr)

**Efficient way**:
Often in competitive programming or data processing, it's more efficient to ask the user for all numbers at once (separated by spaces) rather than hitting the input() syscall n times.

In [ ]:
# Input: 10 20 30 40
arr = list(map(int, input("Enter all numbers separated by space: ").split()))

---

# While

## QST 2
Sum of 10 number

In [ ]:
n = 10
sum = 0
while n >0:
    sum+=n
    n=n-1
print("sum: ",sum)

Usage of while

In [ ]:
num = int(input("Enter the num, (0 to stop)"))
while num != 0:
    print("Entered number is: ", num)
    num=int(input("Enter the num, (0 to stop)"))

Usage of while with break

In [ ]:
num = int(input("Enter the num, (0 to stop)"))
while True:
    print("Entered number is: ", num)
    num=int(input("Enter the num, (0 to stop)"))
    if num==0:
        break

---

# Tuple

In [ ]:
t1 = (1, 2, "asdf", [55, 66, 77], [33, 44])
len(t1)
t1[3][0] # 55 
# BUT
t1[3][0] = 56
t1 # (1, 2, 3, [56, 66, 77], [33, 44]), NOTE the change in value, coz list can be updated
t1[3].append(77)

# t1[2] = "a" # NOTE not allowed

In [ ]:
t = (1, 2, 3)
t = t*2
t

---

# Set

In [ ]:
mySet = set((1,2,1, True,0, False))
mySet #

In [ ]:
s = "madam"
set(s)

In [ ]:
d = {1:"abc", 2: "efg"}
type(d)
d.keys()

In [ ]:
s = "abc"*2
set(s)

In [ ]:
s = set(['abc', 'abc'])
s

In [ ]:
s = set([1,2,3,4,1,2])
s1 = {2,4}
s-s1

In [ ]:
s&s1

## QST 4

```py
s1 = set(range(5)); print(s1)
s2 = set(range(0,10,2)); print(s2)
s3 = s1 - s2; print(s3)
s4 = s2 - s1; print(s4)
s5 = s3 & s4; print(s5)
s6 = s3 | s4; print(s6)
```

In [ ]:
s1 = set(range(5)); print(s1)
s2 = set(range(0,10,2)); print(s2)
s3 = s1 - s2; print(s3)
s4 = s2 - s1; print(s4)
s5 = s3 & s4; print(s5)
s6 = s3 | s4; print(s6)

In [ ]:
s = set([1,2,3,4,1,2])
s1 = {2,4}

print(s.issuperset(s1)) # True
s1.issuperset(s) # False

---

# List comprehension

In [ ]:
%%time

# unoptimized function
square = []
for i in range(10):
    if i%2==0:
        square.append(i*i)
print(square)

In [ ]:
%%time

square = [i*i for i in range(10) if i%2==0 ]
print(square)

# QST 5

```py
name = ["Rama", "sita", "lakshmana", "john"]
```

Get me those name that has only 'a' in it

In [ ]:
names = ["Rama", "sita", "lakshmana", "john"]
word = [i for i in names if "a" in i]
print(word)

In [ ]:
# 5.b > print the last character using list comprehension

lastChar = [ i[-1] for i in names ]
print(lastChar)

In [ ]:
# 5.c > print name that have more than 4 characters using list comprehension

lenGreaterThanFour = [i for i in names if len(i)>4]
print(lenGreaterThanFour)

In [ ]:
# 5.d > print word and its length using list comprehension

wordCount = [{i,len(i)} for i in names]
print(wordCount)

In [ ]:
# 5.e > convert each word to upper case using list comprehension

upper = [str.upper(i) for i in names]
print(upper)

In [ ]:
# 5.f > cover name only if it has length > 4 using list comprehension

upperGrtThan4 = [str.upper(i) for i in names if len(i)>4]
print(upperGrtThan4)

In [ ]:
# 5.g > give common elements in both list using list comprehension

l = [1,2,3,4]
l1=[3,4,5,6]

common = [i for i in l1 if i in l]
print(common)

---

# Functions

In [2]:
def f1(x, a =[]):
    a.append(x)
    print(a)
f1(100)
f1(200)
z = [30, 40]
f1(50, z)
f1(600)

[100]
[100, 200]
[30, 40, 50]
[100, 200, 600]

In [ ]:
def f1(x):
    x = 20
a=10
f1(a)
print(a)

k = lambda a,b:a+b
print(k(10,20))

In [3]:
k = lambda a,b:a+b
print(k(10,20))

30

In [5]:
l = ["abc", "abcd", "abcde"]
res = []
def f1(l):
    for i in l:
        res.append(len(i))
    print(res)

f1(l)

[3, 4, 5]

In [7]:
# using map
print(list(map(len, l)))
print(list(map(str.upper, l)))

[3, 4, 5]
['ABC', 'ABCD', 'ABCDE']

In [ ]:
# using map
l = [2,3,4,5]
def sq(i):
    return i*i
print(list(map(sq, l)))

[4, 9, 16, 25]

In [9]:
# using lambda
print(list(map( lambda x:x*x, l)))

[4, 9, 16, 25]

In [13]:
l = ["apple", "mango", "banana", "pear"]
print(list(filter(lambda x: 'o' in x, l)))

['mango']

QST 6:
give those fruits whose len is > 4

In [14]:
print(list(filter(lambda x:len(x)>4, l)))

['apple', 'mango', 'banana']

In [ ]:
print(list(map(str.upper ,filter(lambda x:len(x)>4, l))))

['APPLE', 'MANGO', 'BANANA']

In [19]:
# reduce function
import functools as f


def f1(x,y):
    return x+y

l = [1,2,3,4,5]
print("using sum: ",sum(l))
print("using custom: ",f.reduce(f1,l))

using sum:  15
using custom:  15

QST 7: given a name, pick up just first character

In [ ]:
name = "Mohamed Riaz Hello World"

def f1(x,y):
    return str(x+y[0])

# print(f.reduce(f1, name.split(" ")))
print(f.reduce(lambda x,y:x+y[0], name.split(" ")," "))

MRHW

Factorial

$$n! = n \times (n-1) \times (n-2) \times \dots \times 1$$

In [37]:
import math
print(math.factorial(5))

120

In [43]:
def factorial(x):
    if x == 0:
        return 1
    res = x * factorial(x-1)
    return res

factorial(5)

120

In [47]:
# summation two numbers using recursion
def ss(x,y):
    if y == 0:
        return x
    return ss(x+1, y-1)

print(ss(5,6))

11